
ul li{
    list-style: none;
}
body{
    background-color: aliceblue;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
/*div{*/
/*    margin:0 auto;*/
/*}*/

textarea{
    font-family: "Tahoma", "宋体";
    font-size: 9pt;
    color: #0066cc;
    background-color: #ffffff;
    font-style: normal;
    border-top: 1px solid #93BEE2;
    border-right: 1px solid #93BEE2;
    border-bottom: 1px solid #93BEE2;
    border-left: 1px solid #93BEE2;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    padding: 0;
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    table-layout:fixed;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.pure-table td {
    background-color: transparent;
    word-wrap:break-word;
    word-break:break-all;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pure-table td:hover{
    height: auto;
    white-space: normal;
}
a{
    color: #0066cc;
    text-decoration: none;
    max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
    float:left;
}
a:hover{
    height: auto;
    white-space: normal;
}
.center-in-center {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 }